<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite thread-count="2" parallel="tests" name="Suite">
  <test name="Test">
  	<parameter name="Browser" value="Firefox"></parameter>
  	<classes>
  		<class name="P40.TestCrossBrowser" />
  	</classes>
  </test> <!-- Test -->
  
  <test name="Test1">
  	<parameter name="Browser" value="chrome"></parameter>
  	<classes>
  		<class name="P40.TestCrossBrowser" />
  	</classes>
  </test>
</suite> <!-- Suite -->
